/*FONTS============================================================*/

@font-face {
  font-family: 'Hind';
  src: url("/css/fonts/Hind-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url("/css/fonts/Hind-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url("/css/fonts/Hind-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url("/css/fonts/Hind-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url("/css/fonts/Hind-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: 'Hind', sans-serif;
}

._margin-bottom-24 {
  margin-bottom: 24px;
}

._margin-right-5 {
  margin-right: 5px;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

._hide-on-desktop-mobile {
  display: none;
}

.__download-button-orange {
  background: #FF6300;
  -webkit-box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
     -moz-box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
          box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  height: 59px;
  width: 260px;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  border: none;
}

.__download-button-orange:hover {
  border: 1px solid #FF6300;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
     -moz-box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
          box-shadow: 2px 6px 15px rgba(27, 48, 56, 0.2);
  color: #FF6300;
  background: transparent;
}

._like-heading-one {
  font-weight: 600;
  font-size: 56px;
  line-height: 140%;
}

._paragraph_main_font {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

._section-heading-two {
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}

._section-heading-three {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

._margin-top-32 {
  margin-top: 32px;
}

._margin-top-18 {
  margin-top: 18px;
}

._margin-top-12 {
  margin-top: 12px;
}

._margin-top-24 {
  margin-top: 24px;
}

.rectangle-scroll-wrapper {
  display: -ms-grid;
  display: grid;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.rectangle-scroll-wrapper > span {
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.rectangle-first {
  width: 14px;
  -webkit-animation: pulsing 2s infinite;
     -moz-animation: pulsing 2s infinite;
       -o-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
  margin-top: 7px;
}

.rectangle-second {
  margin-top: 6px;
  width: 14px;
  -webkit-animation: pulsing 2s infinite 200ms;
     -moz-animation: pulsing 2s infinite 200ms;
       -o-animation: pulsing 2s infinite 200ms;
          animation: pulsing 2s infinite 200ms;
}

.rectangle-third {
  margin-top: 6px;
  width: 14px;
  -webkit-animation: pulsing 2s infinite 400ms;
     -moz-animation: pulsing 2s infinite 400ms;
       -o-animation: pulsing 2s infinite 400ms;
          animation: pulsing 2s infinite 400ms;
}

@-webkit-keyframes pulsing {
  0% {
    
    -webkit-transform: scale(0.5, 0.5);
    
            transform: scale(0.5, 0.5);
  }
  50% {
    
    -webkit-transform: scale(1.0, 1.0);
    
            transform: scale(1.0, 1.0);
  }
  100% {
    
    -webkit-transform: scale(0.5, 0.5);
    
            transform: scale(0.5, 0.5);
  }
}

@-moz-keyframes pulsing {
  0% {
    
    -moz-transform: scale(0.5, 0.5);
    
         transform: scale(0.5, 0.5);
  }
  50% {
    
    -moz-transform: scale(1.0, 1.0);
    
         transform: scale(1.0, 1.0);
  }
  100% {
    
    -moz-transform: scale(0.5, 0.5);
    
         transform: scale(0.5, 0.5);
  }
}

@-o-keyframes pulsing {
  0% {
    
    -o-transform: scale(0.5, 0.5);
    
       transform: scale(0.5, 0.5);
  }
  50% {
    
    -o-transform: scale(1.0, 1.0);
    
       transform: scale(1.0, 1.0);
  }
  100% {
    
    -o-transform: scale(0.5, 0.5);
    
       transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    
    -webkit-transform: scale(0.5, 0.5);
    
       -moz-transform: scale(0.5, 0.5);
    
         -o-transform: scale(0.5, 0.5);
    
            transform: scale(0.5, 0.5);
  }
  50% {
    
    -webkit-transform: scale(1.0, 1.0);
    
       -moz-transform: scale(1.0, 1.0);
    
         -o-transform: scale(1.0, 1.0);
    
            transform: scale(1.0, 1.0);
  }
  100% {
    
    -webkit-transform: scale(0.5, 0.5);
    
       -moz-transform: scale(0.5, 0.5);
    
         -o-transform: scale(0.5, 0.5);
    
            transform: scale(0.5, 0.5);
  }
}
/*=================================================================*/

.header__timer-digits {
  font-weight: 600;
  font-size: 36px;
  line-height: 82%;
  color: #FFFFFF;
  margin-top: 38px;
}

.header__timer {
  margin-top: 24px;
  width: 248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
}

.header__timer-days {
  margin-right: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 5px;
}

.header__timer-hours {
  margin-right: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.header__timer-min {
  margin-right: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.header__timer-sec {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.header__logo {
  width: 133px;
  height: 50px;
}

.header__brand-bbc {
  max-width: 83.64px;
  height: 24px;
  width: 100%;
}

.header__brand-guardian {
  max-width: 139.64px;
  height: 24px;
  width: 100%;
}

.header__brand-forbes {
  max-width: 89.45px;
  height: 24px;
  width: 100%;
}

.header__brand-buzzfeed {
  max-width: 135.53px;
  height: 24px;
  width: 100%;
}

.header__brand-huffington {
  max-width: 181px;
  height: 70px;
  width: 100%;
  margin-top: -13px;
}

.header__brand-wired {
  max-width: 119.26px;
  height: 24px;
}

.header {
  height: 105vh;
}

.header_background-color-patterns {
  background: url(/img/map.png), #080806;
  background-repeat: no-repeat;
  background-position: center 45%;
  -webkit-background-size: 80% 80%;
     -moz-background-size: 80%;
       -o-background-size: 80%;
          background-size: 80%;
}

.navbar_padding {
  padding-top: 25px;
}

.header__heading {
  color: #FFFFFF;
  text-align: center;
  margin-top: 152px;
}

.header__paragraph {
  color: #FFFFFF;
  text-align: center;
  margin-top: 46px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.header__download-btn {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.__money-back {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 25px;
}

.__money-back::before {
  content: url(/img/mark-dot.svg);
  margin-right: 9px;
  vertical-align: sub;
}

.header__brands {
  width: 1200px;
  margin-top: 103px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.security__heading {
  text-align: center;
  max-width: 794px;
  width: 100%;
  color: #080806;
}

.security__paragraph {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
  max-width: 803px;
  width: 100%;
  color: #080806;
}

.security_padding {
  padding-top: 100px;
  padding-bottom: 205px;
}

.security__stormtrooper {
  max-width: 500px;
  width: 100%;
}

.security__wrapper-card-safe-data {
  width: 488px;
  margin-bottom: 127px;
}

.security__wrapper-card-hasslefree {
  width: 488px;
}

.security__ultimate::before {
  content: url(/img/wi-fi.svg);
  margin-right: 18px;
  vertical-align: sub;
}

.security__nologs::before {
  content: url(/img/no-logs.svg);
  margin-right: 18px;
  vertical-align: sub;
}

.security__access::before {
  content: url(/img/play.svg);
  margin-right: 18px;
  vertical-align: sub;
}

.security__devices::before {
  content: url(/img/devices.svg);
  margin-right: 18px;
  vertical-align: sub;
}

.security__xbox-tv {
  max-width: 648.86px;
  margin-top: 60px;
  margin-left: -59px;
}

.advantages {
  background: #080806;
  color: #FFFFFF;
}

.advantages_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advantages__paragraph {
  width: 285px;
}

.guarantee_padding {
  padding-top: 164px;
  padding-bottom: 100px;
}

.guarantee {
  background: -webkit-radial-gradient(50% 50%, 50% 50%, #2577B2 0%, #036DB9 100%);
  background: -moz-radial-gradient(50% 50%, 50% 50%, #2577B2 0%, #036DB9 100%);
  background: -o-radial-gradient(50% 50%, 50% 50%, #2577B2 0%, #036DB9 100%);
  background: radial-gradient(50% 50% at 50% 50%, #2577B2 0%, #036DB9 100%);;
  color: #FFFFFF;
}

.guarantee__compare-vpn {
  max-width: 441.43px;
  width: 100%;
  margin-top: -64px;
}

.guarantee__shield {
  max-width: 290.07px;
  width: 100%;
  margin-top: 185px;
}

.guarantee__30day-parag {
  width: 455px;
}

.guarantee__wrapper-card-shield {
  margin-top: 247px;
}

.guarantee__paragraph {
  width: 488px;
}

.guarantee__ul > li::before {
  content: url(/img/done.svg);
  margin-right: 16px;
  vertical-align: middle;
}

.footer {
  background: #080806;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer_padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

.grab {
  color: #080806;
  text-align: center;
}

.grab__heading {
  text-align: center;
  color: #080806;
}

.grab__paragraph {
  text-align: center;
  color: #080806;
  margin-top: 32px;
  margin-bottom: 100px;
}

.grab_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grab__card-month {
  max-width: 386px;
  width: 96%;
  height: 291px;
  -webkit-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
     -moz-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
          box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.grab__card-five-year {
  max-width: 386px;
  width: 96%;
  height: 412px;
  -webkit-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
     -moz-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
          box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.grab__card-one-year {
  max-width: 386px;
  width: 96%;
  height: 291px;
  -webkit-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
     -moz-box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
          box-shadow: 0px 4px 30px rgba(193, 201, 217, 0.25);
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.grab__card-five-year > .__money-back {
  color: #080806;
}

.grab__card-price {
  font-weight: 600;
  font-size: 64px;
  line-height: 73px;
}

.grab__card-price::before {
  content: '$';
  font-weight: 600;
  font-size: 24px;
  margin-right: 9px;
  vertical-align: super;
}

.grab__card-save {
  width: 120px;
  height: 36px;
  background-color: rgba(3, 109, 185, 0.2);
  -webkit-border-radius: 33px;
     -moz-border-radius: 33px;
          border-radius: 33px;
  font-size: 16px;
  line-height: 38px;
  color: #080806;
  margin-bottom: 28px;
}

.grab__card-five-year > .__money-back::before {
  content: url(/img/exclude.svg);
}

.footer__based {
  opacity: 0.6;
  text-align: left;
  margin-top: 16px;
}

.footer__copyright {
  opacity: 0.6;
  margin-top: 10px;
  text-align: left;
}

.footer__terms {
  text-align: right;
  color: #FFFFFF;
  margin-top: 16px;
}

.footer__privacy {
  text-align: right;
  color: #FFFFFF;
  margin-top: 10px;
}

.footer__terms:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.footer__privacy:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

@media (max-height: 970px) {
  .rectangle-scroll-wrapper {
    display: none;
  }
}

@media (max-height: 700px) and (orientation:landscape) {
  .header {
    height: 100%;
    padding-bottom: 100px !important;
  }
}

